
body {
  background: #151515;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    overflow: hidden;
  }
  
  .start {
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    height: 80%;
    width: 80%;
    /* font: normal small-caps bold 2rem Arial, serif; */
    /* color: black; */
    position: absolute;
    left: 10%;
    top: 10%;
    text-align: center;
    border-radius: 2%;
    align-items: space-between;
  
  }

  .W {
    background: url('your-image-url.jpg');
    height: 20px;
    width: 20px;
    display: block;
  }
  h1 {
    text-emphasis-color: white;
  
    font-size: 3em;
    font-weight: 12000 ;
    line-height: 1.125em;
    font-family: sans-serif;
    text-align: center;
    display: block;
    background: url("https://i.gifer.com/IxI.gif") no-repeat center bottom/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 1px black; */
    filter: drop-shadow(0 0 1rem #FFFFFF);  

    }
  
  .enter, .enter::after {
    width: 50rem;
    /* height: 86px; */
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #000000 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    cursor: pointer;
    }
  
    .enter::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
  
    content: 'ENTER THE WORLD';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, GREEN 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
    }
  
  
  
  
    .enter:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    }
  
    /* .dropbtn:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    } */
  
    @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
    }
  
    select {
      width: 20%;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: black;
  
    }
  
  .main_btn{
    /* background-color: black; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  
  }
  
  .content {
  background-color: grey;
  
  
  }